@font-face {
  font-family: "Exo2-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Exo2-Regular.woff2") format("woff2"),
    url("/fonts/Exo2-Regular.woff") format("woff");
}
@font-face {
  font-family: "Exo2-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Exo2-Medium.woff2") format("woff2"),
    url("/fonts/Exo2-Medium.woff") format("woff");
}
@font-face {
  font-family: "Exo2-SemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Exo2-SemiBold.woff2") format("woff2"),
    url("/fonts/Exo2-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Exo2-Bold";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Exo2-Bold.woff2") format("woff2"),
    url("/fonts/Exo2-Bold.woff") format("woff");
}
@font-face {
  font-family: "Exo2-ExtraBold";
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Exo2-ExtraBold.woff2") format("woff2"),
    url("/fonts/Exo2-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Light";
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Roboto-Light.woff2") format("woff2"),
    url("/fonts/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
    url("/fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Roboto-Medium.woff2") format("woff2"),
    url("/fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Italic";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Roboto-Italic.woff2") format("woff2"),
    url("/fonts/Roboto-Italic.woff") format("woff");
}